
.page-enter-active,
.page-leave-active,
.layout-enter-active main,
.layout-leave-active main {
	position: relative;
	transition-duration: 0.6s;
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 1500vw;
		height: 100%;
		background-size: 1500vw auto;
		background-repeat: no-repeat;
		z-index: 100;
		transition: transform 0.8s steps(15, start);
	}
}

// .page-enter,
// .layout-enter main {
// 	&:before {
// 		background-image: url('~/assets/img/item/sprite_enter.svg');
// 	}
// }
// .page-leave,
// .layout-leave main {
// 	&:before {
// 		background-image: url('~/assets/img/item/sprite_leave.svg');
// 	}
// }

// .page-enter-to,
// .layout-enter-to main {
// 	&:before {
// 		background-image: url('~/assets/img/item/sprite_enter.svg');
// 		transform: translate3d(-1500vw, 0, 0);
// 	}
// }

// .page-leave-to,
// .layout-leave-to main {
// 	&:before {
// 		background-image: url('~/assets/img/item/sprite_leave.svg');
// 		transform: translate3d(-1500vw, 0, 0);
// 	}
// }

.body_fix {
	overflow: hidden;
}

.pin-spacer * {
	// transform-style: preserve-3d;
	// -webkit-transform-style: preserve-3d;
}


body {
	background-image: url('~/assets/img/item/bg_gray.svg');
	background-repeat: repeat;
}


.template_mv {
	padding: 22rem 10vw 18rem 22vw;
	.mv {
		.title_wrap {
			margin-left: 25%;
			.sub_title {
				display: block;
				line-height: 1.12;
			}
			h1 {
				margin-top: 1.7rem;
				font-size: 4.6rem;
				line-height: 1;
			}
		}
		.menu_wrap {
			margin-top: 12rem;
			&:before {
				content: none;
			}
			h2 {
				width: 25%;
				font-size: 1.5rem;
				line-height: 1;
				color: #818283;
			}
			.mv_menu {
				li {
					margin-right: 2.4rem;
					padding-bottom: 2rem;
					a {
						font-size: 1.5rem;
						line-height: 1;
						&.now {
							color: #AA0813;
						}
					}
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 980px) {
		padding: 13rem 0 10.8rem 0;
		.mv {
			.title_wrap {
				margin-left: 6.4vw;
				.sub_title {
					font-size: 1.2rem;
				}
				h1 {
					margin-top: 0.8rem;
					font-size: 2.4rem;
				}
			}
			.menu_wrap {
				margin-top: 4.8rem;
				h2 {
					padding: 0 6.4vw;
					width: 100%;
					font-size: 1.3rem;
				}
				.mv_menu {
					display: block;
					margin-top: 2.4rem;
					overflow-x: scroll;
					white-space: nowrap;
					scrollbar-width: none;
					-ms-overflow-style: none;
					&::-webkit-scrollbar {
						display: none;
					}
					li {
						display: inline-block;
						margin-right: 1.7rem;
						a {
							font-size: 1.3rem;
						}
						&:first-of-type {
							padding-left: 6.4vw;
						}
						&:last-of-type {
							padding-right: 6.4vw;
						}
					}
				}
			}
		}
	}
}



.guide {
	.contents {
		.nav_wrap {
			margin-top: 12rem;
			width: 25%;
		}
		.contents_wrap {
			margin-top: 6rem;
			padding-top: 6rem;
			margin-left: auto;
			width: 75%;
			&:after {
				content: none;
			}
			.inner_wrap {
				margin-top: 3.5rem;
			}
			h2 {
				font-size: 2.4rem;
				line-height: 1.5;
			}
			h3 {
				font-size: 1.7rem;
				line-height: 1.5;
			}
			.text,
			.sentence {
				font-size: 1.5rem;
			}
			.text_list {
				margin-top: 1.3rem;
				li {
					position: relative;
					padding-left: 1.6rem;
					&:before {
						content: '・';
						position: absolute;
						top: 0;
						left: 0;
						width: 1.5rem;
						font-family: shippori-antique, '游明朝 Medium', 'YuMincho', 'Yu Mincho', 'Helvetica Neue', serif, san-serif;
						font-size: 1.5rem;
						line-height: 2;
					}
				}
			}

		}
		@media only screen and (max-width: 980px) {
			.nav_wrap {
				display: none;
			}
			.contents_wrap {
				margin: 3.5rem 6.4vw 0;
				padding-top: 3.5rem;
				width: auto;
				.inner_wrap {
					margin-top: 2.4rem;
				}
				h2 {
					font-size: 1.8rem;
				}
				h3 {
					font-size: 1.5rem;
				}
				.text,
				.sentence {
					font-size: 1.3rem;
				}
				.text_list {
					margin-top: 0.8rem;
					li {
						position: relative;
						padding-left: 1.6rem;
						&:before {
							width: 1.3rem;
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}
}


