

.page-enter-active,
.page-leave-active,
.layout-enter-active main,
.layout-leave-active main {
	position: relative;
	overflow: hidden;
	transition-duration: 0.6s;
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 100vw;
		height: calc(100vw * 0.5621428571 * 16);
		background-size: 100vw calc(100vw * 0.5621428571 * 16), 0;
		// background-position: top;
		background-repeat: no-repeat, no-repeat;
		will-change: width, height, transform, background-image;
		z-index: 150;
		// @media only screen and (max-width: 980px) {
		// 	width: 100vw;
		// 	height: calc(100vw * 2.1641025641 * 15);
		// 	background-size: 100vw calc(100vw * 2.1641025641 * 15);
		// 	background-position: top;
		// 	transform: translate3d(0, 0, 0);
		// }
		@media only screen and (max-width: 980px) {
			margin-top: calc((100vw * 2.1641025641 - 100vh) / -2);
			// width: calc(100vh * 0.4620853081);
			width: 100vw;
			// height: 1500vh;
			height: calc(100vw * 2.1641025641 * 16);
			// background-size: calc(100vh * 0.4620853081) 1500vh;
			background-size: 100vw calc(100vw * 2.1641025641 * 16), 0;
			transform: translate3d(0, 0, 0);
			// background-position: center;
		}
	}
}

@keyframes sprite_transition_desktop {
	100% {
		transform: translate3d(0, calc(100vw * 0.5621428571 * -16), 0);
	}
}

@keyframes sprite_transition_desktop_2 {
	100% {
		transform: translate3d(calc((100vh * 1.7789072427 - 100vw) / -2), -1600vh, 0);
	}
}

@keyframes sprite_transition_smart {
	100% {
		// margin-top: calc((100vw * 2.1641025641 - 100vh) / -2);
		transform: translate3d(0, calc((100vw * 2.1641025641) * -16), 0);
		// transform: translate3d(0, calc((100vw * 2.1641025641 - ((100vw * 2.1641025641 - 100vh) / 2)) * -15), 0);
		// transform: translate3d(calc((100vh * 0.4620853081 - 100vw) / 2), -1500vh, 0);
		// transform: translate3d(0, -1500vh, 0);
	}
}

@keyframes sprite_transition_smart_2 {
	100% {
		transform: translate3d(calc((100vh * 0.4620853081 - 100vw) / 2), -1600vh, 0);
		// transform: translate3d(0, -1500vh, 0);
	}
}

.page-enter,
.layout-enter main,
.page-enter-to,
.layout-enter-to main {
	&:before {
		background-image: url('~/assets/img/item/transition/sprite_enter_desktop.svg'), url('~/assets/img/item/transition/sprite_leave_desktop.svg');
		@media only screen and (max-width: 980px) {
			background-image: url('~/assets/img/item/transition/sprite_enter_smart.svg'), url('~/assets/img/item/transition/sprite_leave_smart.svg');
		}
	}
}

.page-leave,
.layout-leave main,
.page-leave-to,
.layout-leave-to main {
	&:before {
		background-image: url('~/assets/img/item/transition/sprite_leave_desktop.svg'), url('~/assets/img/item/transition/sprite_enter_desktop.svg');
		@media only screen and (max-width: 980px) {
			background-image: url('~/assets/img/item/transition/sprite_leave_smart.svg'), url('~/assets/img/item/transition/sprite_enter_smart.svg');
		}
	}
}

.page-enter-to,
.layout-enter-to main {
	&:before {
		// transform: translate3d(-1500vw, 0, 0);
		animation: sprite_transition_desktop 0.8s steps(16, start) forwards;
		@media only screen and (max-width: 980px) {
			animation: sprite_transition_smart 0.8s steps(16, start) forwards;
			// animation: sprite_enter_smart 0.7s steps(15, start) forwards;
		}
	}
}

.page-leave-to,
.layout-leave-to main {
	&:before {
		// transform: translate3d(-1500vw, 0, 0);
		animation: sprite_transition_desktop 0.8s steps(16, start) forwards;
		@media only screen and (max-width: 980px) {
			animation: sprite_transition_smart 0.8s steps(16, start) forwards;
			// animation: sprite_leave_smart 0.7s steps(15, start) forwards;
		}
	}
}

.desktop_2 {
	.page-enter-active,
	.page-leave-active,
	.layout-enter-active main,
	.layout-leave-active main {
		position: relative;
		&:before,
		&:after {
			width: calc(100vh * 1.7789072427);
			height: 1600vh;
			background-size: calc(100vh * 1.7789072427) 1600vh, 0;
			// background-position: center;
			transform: translate3d(calc((100vh * 1.7789072427 - 100vw) / -2), 0, 0);
		}
	}
	.page-enter,
	.layout-enter main,
	.page-enter-to,
	.layout-enter-to main {
		&:before {
			background-image: url('~/assets/img/item/transition/sprite_enter_desktop.svg'), url('~/assets/img/item/transition/sprite_leave_desktop.svg');
		}
	}

	.page-leave,
	.layout-leave main,
	.page-leave-to,
	.layout-leave-to main {
		&:before {
			background-image: url('~/assets/img/item/transition/sprite_leave_desktop.svg'), url('~/assets/img/item/transition/sprite_enter_desktop.svg');
		}
	}
	.page-enter-to,
	.layout-enter-to main,
	.page-leave-to,
	.layout-leave-to main {
		&:before {
			animation: sprite_transition_desktop_2 0.8s steps(16, start) forwards;
		}
	}
}


.body_fix {
	overflow: hidden;
}

.pin-spacer * {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.desktop {
	display: block;
}
.smart {
	display: none;
}
@media only screen and (max-width: 980px) {
	.desktop {
		display: none;
	}
	.smart {
		display: block;
	}
}


body {
	// background-image: url('~/assets/img/item/bg_gray.svg');
	// background-repeat: repeat;
}


.template_mv {
	padding: 22rem 10vw 18rem 21vw;
	width: 69vw;
	.mv {
		.title_wrap {
			margin-left: 25%;
			.sub_title {
				display: block;
				line-height: 1.12;
			}
			h1 {
				margin-top: 1.7rem;
				font-size: 4.6rem;
				line-height: 1;
			}
		}
		.menu_wrap {
			margin-top: 12rem;
			&:before {
				content: none;
			}
			h2 {
				width: 25%;
				font-size: 1.5rem;
				line-height: 1;
				color: #818283;
			}
			.mv_menu {
				li {
					margin-right: 2.4rem;
					padding-bottom: 2rem;
					a {
						font-size: 1.5rem;
						line-height: 1;
					}
					&.now {
						position: relative;
						&:after {
							content: '';
							position: absolute;
							bottom: 1px;
							display: block;
							margin: auto;
							width: 100%;
							height: 1px;
							background-color: #AA0813;
						}
						a {
							color: #AA0813;
						}
					}
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 980px) {
		padding: 13rem 0 10.8rem 0;
		width: 100vw;
		.mv {
			.title_wrap {
				margin-left: 6.4vw;
				.sub_title {
					font-size: 1.2rem;
				}
				h1 {
					margin-top: 0.8rem;
					font-size: 2.4rem;
				}
			}
			.menu_wrap {
				margin-top: 4.8rem;
				h2 {
					padding: 0 6.4vw;
					width: 100%;
					font-size: 1.3rem;
				}
				.mv_menu {
					display: block;
					margin-top: 2.4rem;
					overflow-x: scroll;
					white-space: nowrap;
					scrollbar-width: none;
					-ms-overflow-style: none;
					&::-webkit-scrollbar {
						display: none;
					}
					li {
						display: inline-block;
						margin-right: 1.6rem;
						a {
							font-size: 1.3rem;
						}
						&:first-of-type {
							margin-left: 6.4vw;
						}
						&:last-of-type {
							margin-right: 6.4vw;
						}
					}
				}
			}
		}
	}
}



.guide {
	.contents {
		.nav_wrap {
			margin-top: 12rem;
			width: 25%;
		}
		.contents_wrap {
			margin-top: 6rem;
			padding-top: 6rem;
			margin-left: auto;
			width: 75%;
			&:after {
				content: none;
			}
			.inner_wrap {
				margin-top: 3.5rem;
			}
			h2 {
				font-size: 2.4rem;
				line-height: 1.5;
			}
			h3 {
				font-size: 1.7rem;
				line-height: 1.5;
			}
			.text,
			.sentence {
				font-size: 1.5rem;
			}
			.text_list {
				margin-top: 1.3rem;
				li {
					position: relative;
					padding-left: 1.6rem;
					&:before {
						content: '・';
						position: absolute;
						top: 0;
						left: 0;
						width: 1.5rem;
						font-family: shippori-antique, '游明朝 Medium', 'YuMincho', 'Yu Mincho', 'Helvetica Neue', serif, san-serif;
						font-size: 1.5rem;
						line-height: 2;
					}
				}
			}

		}
		@media only screen and (max-width: 980px) {
			.nav_wrap {
				display: none;
			}
			.contents_wrap {
				margin: 3.5rem 6.4vw 0;
				padding-top: 3.5rem;
				width: auto;
				.inner_wrap {
					margin-top: 2.4rem;
				}
				h2 {
					font-size: 1.8rem;
				}
				h3 {
					font-size: 1.5rem;
				}
				.text,
				.sentence {
					font-size: 1.3rem;
				}
				.text_list {
					margin-top: 0.8rem;
					li {
						position: relative;
						padding-left: 1.6rem;
						&:before {
							width: 1.3rem;
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}
}


