html {
	font-size: 62.5%;
	font-size: 0.7142857153vw;
	opacity: 0;
	visibility: hidden;
	// background-color: #000000;
	body {
		visibility: hidden;
		// background-color: #000000;
	}
	@media only screen and (max-width: 980px) {
		font-size: 2.666666667vw;
	}
	&.wf-active,
	&.loading-delay {
		opacity: 1;
		visibility: visible;
		// background-color: initial;
		body {
			visibility: visible;
			// background-color: initial;
			background-image: url('~/assets/img/item/bg_gray.svg');
			background-repeat: repeat;
		}
	}
}

.loaded_animation {
	background-color: initial;
}

.loading_animation {
	background-color: #000000;
	body, header, main {
		visibility: hidden;
		background-color: #000000;
	}
	&.wf-active,
	&.loading-delay {
	  	background-color: initial;
	  	body, header, main {
	  		visibility: visible;
	  		background-color: initial;
	  	}
	  	body {
	  		visibility: visible;
	  		background-color: initial;
	  		background-image: url('~/assets/img/item/bg_gray.svg');
	  		background-repeat: repeat;
	  	}
	}
}

@font-face {
	font-family: shippori-mincho;
	src: url('//use.typekit.net/af/a3b0fd/00000000000000007735e3ad/30/m?features=ALL&v=4&chunks=7.39.42.44.57.146.199.206.223.295.306.309.313.340.358.368.369.373.384.390.393.397.407.427.440.457&order=0');
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: shippori-antique;
	src: url('//use.typekit.net/af/b7e1b2/00000000000000007735eb41/30/m?features=ALL&v=4&chunks=15.44.57.135.147.159.161.199.206.223.282.294.306.309.313.340.344.346.348.358.368.369.373.384.391.393.397.408.427.440.457&order=0');
	font-display: swap;
	font-weight: 400;
}


h1, h2, h3, h4, h5, h6, a, p, span, button, b, strong, label, input, textarea, select, th, td {
	font-size: 1.6rem;
	line-height: 2;
	letter-spacing: 0;
	color: #000000;
	font-feature-settings: 'palt' 0;
	-webkit-font-feature-settings: 'palt' 0;
	font-kerning: none;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	@media only screen and (max-width: 980px) {
		font-size: 1.3rem;
	}
}

h1, h2, h3, h4, h5, h6, a, p, span, button, label, input, textarea, select, th, td {
	font-family: shippori-antique, '游明朝 Medium', 'YuMincho', 'Yu Mincho', 'Helvetica Neue', serif, san-serif;
	font-weight: 400;
	&:before,
	&:after {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		font-feature-settings: 'palt' 0;
		-webkit-font-feature-settings: 'palt' 0;
	}
}

.mincho, b, strong, .bold {
	font-family: shippori-mincho, shippori-antique, '游明朝 Medium', 'YuMincho', 'Yu Mincho', 'Helvetica Neue', serif, san-serif;
	font-weight: 600;
	font-feature-settings: 'palt' 1;
	-webkit-font-feature-settings: 'palt' 1;
	letter-spacing: 0.04em;
	font-kerning: normal;

	transform: scale(1, .92);
	transform-origin: top;
}

.red {
	color: #AA0813;
}

.flex {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-start {
	justify-content: flex-start;
}

.flex-center {
	justify-content: center;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.ratio-fixed {
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	backface-visibility: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: auto;
		width: 100%;
		height: 100%;
		object-fit: cover;
		backface-visibility: hidden;
	}
}